<h1>Current debt for users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Debt</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.debt %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Evaluate from WaniKani", evaluate_wanikani_home_index_path %>
