<h1>Highcharts?</h1>

<form action="/">
  <label for="user">Select a user:</label>
  <select name="user" id="user_select">
    <option value="bob">Bob</option>
    <option value="homura">Homura</option>
  </select>
  <label for="debt">Debt:</label>
  <input type="number" id="debt" name="debt">
  <input type="submit" value="Submit">
</form>